body {
    background-color: #990909;
}

/* HEADER */
#header1 {
    text-align: center;
}

/* NAVIGATION */
#navigation {
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
ul {
    /* width: 80%; */
    text-align: center;
    /* margin: 0 auto; */
}
li {
    display: inline-block;
    text-align: center; 
}
li img {
    width: 180px;
    
}

/* MAIN */